.transaction {
  min-height: 1520px;
  background-image: url("../../img/bg/3bg.svg");
  background-position: bottom;
  background-repeat: no-repeat;
}
.container.transaction-container {
  padding: 0 190px;
}
.transaction__wrapper {
  padding-top: 267px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.transaction_header {
  margin-bottom: 20px;
}
.transaction__carousel_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 55px 0;
  width: 100%;
}
.transaction__carousel-content::-webkit-scrollbar {
  display: none;
}
.transaction__carousel-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.transaction__carousel_item {
  width: 256px;
  min-height: 196px;
  background: #ffffff;
  gap: 18px;
}
.transaction__carousel_title {
  font-size: 30px;
  text-align: center;
}
.transaction__carousel_exhange {
  width: 82px;
  height: 20px;
  background: #05cd99;
  font-size: 13px;
  color: #ffffff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transaction__carousel_date-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f7fe;
  border-radius: 5px;
}
.transaction__carousel-right-arrow,
.transaction__carousel-left-arrow {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}
.transaction__carousel_date-block {
  width: 173px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.date__block_date-wrapper {
  gap: 8px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.date__block_title {
  color: #5e658d;
  font-size: 12px;
}
.date__block_date {
  font-size: 14px;
  color: #181938;
}
.transaction__block_button {
  width: 307px;
  background-image: url("../../icons/signs/Refresh.svg");
}

.transaction-image {
  width: 100%;
  min-width: 395px;
}
.transaction__carousel-mobile-dots {
  display: none;
}

@media screen and (max-width: 1900px) {
  .container.transaction-container {
    padding: 0 80px;
  }
}
@media screen and (max-width: 1700px) {
  .transaction {
    min-height: 1400px;
  }
  .off-screen-1700 {
    display: none;
  }
  .transaction__wrapper {
    padding-top: 180px;
  }
  .transaction_header {
    text-align: center;
  }
}
@media screen and (max-width: 1600px) {
  .transaction__carousel_wrapper {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1400px) {
  .off-tablet-1400 {
    display: none;
  }
  .transaction__wrapper {
    padding-top: 150px;
  }
}
@media screen and (max-width: 1200px) {
  .transaction {
    min-height: 1250px;
  }
  .container.transaction-container {
    padding: 0 40px;
  }
  .transaction__carousel_wrapper {
    width: 100%;
  }

  .transaction__carousel-content {
    width: 80%;
    overflow-x: scroll;
  }
  .transaction__wrapper {
    padding-top: 100px;
  }
  .transaction__carousel-content {
    gap: 24px;
  }
}
@media screen and (max-width: 1023px) {
  .transaction {
    background-image: url(../../img/bg/Vector-3-tablet.svg);
    min-height: 1238px;
    background-position: bottom 40px left 0;
  }
  .transaction__carousel_wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 990px) {
  .transaction__wrapper {
    padding: 0;
  }
}
@media screen and (max-width: 575px) {
  .transaction {
    background-position: bottom 85px left 0;
  }
  .transaction__wrapper {
    padding: 0;
  }
  .transaction__carousel_wrapper {
    margin: 20px 0 75px 0;
    position: relative;
    justify-content: flex-start;
  }
  .container.transaction-container {
    padding: 0 20px;
  }

  .transaction__carousel-left-arrow {
    display: none;
  }
  .transaction__carousel-right-arrow {
    position: absolute;
    bottom: -55px;
    right: 125px;
  }
  .transaction-image {
    min-width: 360px;
  }
  .transaction__carousel-content {
    gap: 10px;
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .transaction-image {
    min-width: 250px;
  }
}
